@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@100;300;400;500;600;800 & display=swap');

:root  {
    --bege: #d8d5a7;
    --preto: #000000;
    --branco: #ffffff;
    --verde: #399d23;
    --cinza: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: var(--bege);
}

h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 20px;
}
/* seta */

.seta a {
    background-color: #333;
    border-radius: 5px;
    padding: 5px 5px 3px 4px;
    position: fixed;  
    top: 0;          
    left: 0;          
    margin: 25px;    
}

.seta ion-icon {
    text-decoration: none;
    color: var(--branco);
}

  /* barra de pesquisa */

  .box-busca {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .search-box-input::placeholder {

    color: #ffffff;
    opacity: 0.6;
  }
  
  .search-box-input::-webkit-input-placeholder {
    color: #ffffff;
  }
  
  .search-box-input::-moz-placeholder {
    color: #ffffff;
  }
  
  .search-box-input:-ms-input-placeholder {
    color: #ffffff;
  }
  
  .search-box form {
  
    display: flex;
    border-radius: 50px;
    background-color: #000000;
    height: 45px;
  }
  
  .search-box:hover .search-box-input {
  
    padding-left: 2em;
    padding-right: 1em;
    width: 250px;
  }
  
  .search-box-input {
    outline: 0;
    font-size: 1.2em;
    color: #fff;
    width: 0;
    padding: 0;
    border: none;
    background: none;
    transition: .45s;
  }
  
  .search-box-button {
    display: flex;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: #399d23;
    border: none;
    cursor: pointer;
    transition: .3s;
    justify-content: center;
    align-items: center;
  }
  
  .search-box-button:active {
    transform: scale(.85);
  }
  
  .search-box-icone {
    margin: auto;
    color: #fff;
  }
  
  @media screen and (min-width: 400px) {
  
    .search-box:hover .search-box-input {
      width: 360px;
    }
  }
  
  .search-icon {
    font-size: 24px;
  }


/* produtos */
.all-products {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .product {
    overflow: hidden;
    background: #ffffff;
    color: #21201e;
    text-align: center;
    width: 240px;
    height: 400px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1.2rem;
    margin: 2rem;
  }
  
  .product .product-title,
  .product .product-price {
    font-size: 18px;
  }
  
  .product:hover img {
    scale: 1.1;
  }
  
  .product:hover {
    box-shadow: 5px 15px 25px #eeeeee;
  }
  
  .product img {
    height: 200px;
    margin: 1rem;
    transition: all 0.3s;
  }
  
  .product a:link,
  .product a:visited {
    color: #ececec;
    display: inline-block;
    text-decoration: none;
    background-color: #399d23;
    padding: 1.2rem 3rem;
    border-radius: 1rem;
    margin-top: 1rem;
    font-size: 14px;
    transition: all 0.2s;
  }
  
  .product a:hover {
    transform: scale(1.1);
  }

    /* footer */

    .container-footer {
      max-width: 1170px;
      margin:auto;
    }
    .row{
      display: flex;
      flex-wrap: wrap;
    }
    ul{
      list-style: none;
    }
    .footer{
      background-color: var(--preto);
      padding: 70px 0;
    }
    .footer-col{
      width: 25%;
      padding: 0 15px;
    }
    .footer-col h4{
      font-size: 18px;
      color: var(--branco);
      text-transform: capitalize;
      margin-bottom: 35px;
      font-weight: 500;
      position: relative;
    }
    .footer-col h4::before{
      content: '';
      position: absolute;
      left:0;
      bottom: -10px;
      background-color: var(--verde);
      height: 2px;
      box-sizing: border-box;
      width: 50px;
    }
    .footer-col ul li:not(:last-child){
      margin-bottom: 10px;
    }
    .footer-col ul li a{
      font-size: 16px;
      text-transform: capitalize;
      color: var(--branco);
      text-decoration: none;
      font-weight: 300;
      color: var(--bege);
      display: block;
      transition: all 0.3s ease;
    }
    .footer-col ul li a:hover{
      color: var(--branco);
      padding-left: 8px;
    }
    .footer-col .social-links a{
      display: inline-block;
      height: 40px;
      width: 40px;
      background-color: rgba(255,255,255,0.2);
      margin:0 10px 10px 0;
      text-align: center;
      line-height: 40px;
      border-radius: 50%;
      color: var(--branco);
      transition: all 0.5s ease;
    }
    .footer-col .social-links a:hover{
      color: var(--cinza);
      background-color: var(--branco);
    }
    
    /*responsive*/
    @media(max-width: 767px){
      .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
    }
    @media(max-width: 574px){
      .footer-col{
        width: 100%;
    }
    }
  
    /* fim footer  */